/* @override http://localhost:3000/stylesheets/formtastic_changes.css */

/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset > ol > li.required abbr {
	color: #f9271c;
	padding-left: 2px;
}

form.formtastic fieldset {
	margin-bottom: 15px !important;
}

form.formtastic fieldset input:focus {
	background-color: #faff7c;
}

form.formtastic fieldset.inputs {
	border: 1px solid #999;
	padding: 10px;
}

form.formtastic fieldset.inputs legend span {
	padding: 0 5px;
	font-weight: bold;
}

form.formtastic fieldset.buttons {
	padding-left: 15px !important;
}