/* @override http://localhost:3000/stylesheets/formtastic_changes.css */

/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset > ol > li.required abbr {
	color: #f9271c;
	padding-left: 2px;
}

form.formtastic fieldset {
	margin-bottom: 15px !important;
}

form.formtastic fieldset input:focus {
	background-color: #faff7c;
}

form.formtastic fieldset.inputs {
	border: 1px solid #999;
	padding: 10px;
}

form.formtastic fieldset.inputs legend span {
	padding: 0 5px;
	font-weight: bold;
}

form.formtastic fieldset.buttons {
	padding-left: 15px !important;
}


form.formtastic fieldset > ol > li p.inline-errors,
form.formtastic fieldset > ol > li p.inline-hints {
	font-style: italic;
	font-size: smaller;
}

form.formtastic fieldset > ol > li.error > input {
	border: 2px solid #CF0000;
}

.fieldWithErrors {
  display: inline;
}

.errorExplanation {
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.errorExplanation p {
  color: #333;
  font-size: 12px;
  margin: 10px !important;
}

.errorExplanation ul {
  margin: 12px 24px !important;
}

.errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#ordered_products {
	overflow: visible !important;
}

#ordered_products thead th {
	font-weight: normal;
}

#ordered_products td {
	text-align: center;
}

#ordered_products thead th {
	vertical-align: bottom;
	height: 175px;
	min-width: 24px;
	white-space: nowrap;
	padding: 0 10px 2px;
}

#ordered_products thead th span.vertical {
	text-align:center;
	width:16px;
	margin:0 auto;
	display: block;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50%;
	padding-left: 5px;
}